@import '../../styles/common';

.StyledList {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: border();
}

.disableTextSelection {
  user-select: none;
}

.EmptySearchResultWrapper {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-height: 600px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
