.Container {
  overflow: hidden;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
  contain: content;
  transform-origin: top left;
  will-change: transform opacity;
  contain: content;
  animation-duration: duration(slowest);
  animation-timing-function: step-end;
  transition: opacity duration(slowest) ease-in;
}

.Container-active {
  opacity: 1;
}

.Content {
  transform-origin: top left;
  will-change: transform;
  contain: content;
  animation-duration: duration(slowest);
  animation-timing-function: step-end;
}

.Container-expanded {
  opacity: 1;
}

.Container-expanded,
.Content-expanded,
.Content-collapsed {
  transform: scaleY(1);
}

.Container-collapsed {
  transform: scaleY(0);
  opacity: 0;
}
